body {
	font-size: 16px;
	margin: 5%;
	background-color: #392759;
	font-family: 'Italiana', serif;
	
}

.header{
	font-size: 55px;
    text-align-last: center;
}

.picture{
	justify-content: center;
}
.page {
	background-color: #f3f6f4;
	border-style: groove;
	border-width: 20px;
	border-color: #9ea6b8;
	font-size: 18px;
	padding: 10px;

}

.center {
  display: table;
	margin: 0 auto;
}